<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Detail</title>
</head>
<body>
    <h1>Booking Detail</h1>
    <p>Name: {{ booking.name }}</p>
    <p>Address: {{ booking.address }}</p>
    <p>Phone: {{ booking.phone }}</p>
    <p>Aadhar: {{ booking.aadhar }}</p>
    <p>Price: {{ booking.price }}</p>
    <!-- Display GST and Total Price -->
    {% if price and gst and total_price %}
        <p>GST (18%): {{ gst }}</p>
        <p>Total Price (including GST): {{ total_price }}</p>
    {% endif %}

    

    <p>Check-in Date and Time: {{ booking.checkin_datetime }}</p>
    <p>Check-out Date and Time: {{ booking.checkout_datetime }}</p>

    <a href="{% url 'edit_booking' booking.id %}">Edit</a>
    <a href="{% url 'delete_booking' booking.id %}">Delete</a>
    <a href="{% url 'generate_bill' booking.id %}">Generate Bill</a>
</body>
</html>
