<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Revenue</title>
</head>
<body>
    <h1>Total Revenue</h1>

    <h2>Week</h2>
    <p>Total Revenue for the Week: ${{ total_revenue_week }}</p>

    <h2>Month</h2>
    <p>Total Revenue for the Month: ${{ total_revenue_month }}</p>

    <h2>Year</h2>
    <p>Total Revenue for the Year: ${{ total_revenue_year }}</p>
</body>
</html>
